# Node.js dependencies
/node_modules
/.pnp
.pnp.*

# Next.js build output
.next/
out/

# Vercel deployment files
.vercel
.vercel_build_output

# Miscellaneous
.DS_Store
*.pem

# Logs & debug files
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript
*.tsbuildinfo
next-env.d.ts

# Environment variables (Sensitive data should not be committed)
.env
.env.local
.env.development
.env.production
.env.test

# IDE & Editor settings (if using VS Code or JetBrains IDEs)
.vscode/
.idea/
